.country-body {
  display: flex;
  justify-content: center;
  padding: 60px;
  background-color: cornflowerblue;
  background-image: url(../images/un-office.jpeg);
}
.country-content {
  text-align: center;
}
.country-title {
  background-color: floralwhite;
  border-radius: 8px;
  margin-bottom: 20px;
  color: rgb(0, 0, 0);
  font-size: 36px;
  font-weight: 700;
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
}

.input {
  width: 400px;
  font-size: 26px;
  line-height: 1.25;
  font-weight: 700;
  letter-spacing: 0.03em;
  margin-bottom: 20px;

  border: 1px solid rgba(255, 255, 255, 0.3);
  border-radius: 6px;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  color: #111;
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
}
.country-list {
  width: auto;
  margin-left: 20px;
  margin-right: 20px;
  padding: 10px;
  border-radius: 6px;
  text-align: left;
  background-color: lightskyblue;
}
// .country-item {

//   cursor: pointer;
// }
.country-button {
  color: rgb(56, 23, 1);
  background-color: lightskyblue;
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
  border-radius: 4px;
}
.country-button:hover,
.country-button:focus {
  cursor: pointer;
  color: rgb(231, 228, 226);
  background-color: steelblue;
}

.country-card {
  width: 800px;
  background-color: lightskyblue;
  border-radius: 8px;
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
}
.country-information {
  display: flex;

  justify-content: space-between;
  align-items: center;
}
.country-information-text {
  text-align: left;
  margin: 20px;
}
.country-flag {
  width: auto;
  margin: 20px;
  box-shadow: 0px 7px 5px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
}
.country-name {
  font-size: 30px;
  color: black;
}
.country-card-title {
  color: black;
  font-size: 26px;
  font-weight: 900;
}
.country-card-text {
  margin-left: 15px;
  font-size: 20px;
  font-weight: 700;
  color: black;
}
.reset-button-style {
  margin-left: 20px;
  padding: 6px 12px;

  background-color: rgb(112, 120, 128);
  color: white;
  border-radius: 4px;
}

.reset-button-style:focus,
.reset-button-style:hover {
  cursor: pointer;
  background-color: rgb(99, 111, 122);
}
.country-menu {
  display: block;
  align-items: center;
}
